{% extends 'base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'img/1500x500.png' %}{% endblock %}

{% block headers %}

{% endblock %}
{% block content %}
<div class="card-header card-header-image">
  <p><img src="{% static 'img/temporadas.png' %}"></p>
</div>
<div class="col-md-7">
  <div class="container">
    <h1 style="text-underline-position: auto;font-family: century gothic;"> Inglés </h1>
    <br>
  {%for season in seasons%}
  <div class="entry2 col-lg-8 col-md-10" >
    <h2>
      <li><a href="{% url 'core:Capitulos' 'latino' season.name %}" style="font-family: century gothic;"> {{season.tag}}</a></li>
    </h2>
  </div>
  {%endfor%}
 </div>
</div>
{% endblock %}