{% extends 'base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'img/1500x500.jpg' %}{% endblock %}

{% block headers %}
<h1><font color="efc70f">El Arnoldo</font></h1>
<span class="subheading"><font color="white">Capitulos de Oye Arnold</font></span>
<h4> Inglés </h4>
{% endblock %}
{% block content %}

  {%for season in seasons%}
  <div class="entry2 col-lg-8 col-md-10" >
      <li><a href="{% url 'core:Capitulos' 'latino' season.name %}"> {{season.tag}}</a></li>
</div>
  {%endfor%}

{% endblock %}