{% extends 'base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'img/1500x500.png' %}{% endblock %}

{% block headers %}

{% endblock %}
{% block content %}

<!--<div class="row text-center pt-5 border-top">
          <div class="col-md-12">
            <div class="custom-pagination">
              Página {{ posts.number }} de {{ posts.paginator.num_pages }}
              {% if posts.has_previous %}
              <li>
                <a href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a>
              </li>
              {% endif %}
              {% if posts.has_next %}
              <li>
                <a href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a>
              </li>
              {% endif %}-->


{%for capitulo in capitulos%}
<div class="entry2 col-lg-8 col-md-10">
  <h2>
    <li><a href="{% url 'core:capitulo' capitulo.slug %}">{{ capitulo.number }} {{ capitulo.name }}</a></li>
  </h2>
  <br>
</div>
{%endfor%}
{% endblock %}